header h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

header {
    margin: 0;
    background-image: linear-gradient(to right,blue , purple)
}

.firstQuarterColumn {
    display: inline-block;
}


/**
*   ### LAYOUT ### 
*/
main {
    display: flex;
}

aside, div.content {
    display: flex;
    flex-direction: column;
}

.col-fourth {
    width: 25%;
}

.col-half {
    width: 50%;
}

.col-three-fourths {
    width: 75%;
}

.col-full-width {
    width: 100%;
}

.column-content { 
    padding: 30px;
}

/**
*   ### ASIDE ### 
*/

input.form-input,
button.search-button {
    display: block;
    width: 100%;
    margin-top: 15px;
}

button.city-history {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}